:root {
    /* 侧边栏配色方案 */
    --cellUnfocus-color: rgb(34, 45, 50);
    --cellFocus-color: rgb(30, 40, 44);
    --cellUnfocusFont-color: rgb(184, 199, 206);
    --iconFocus-color: rgb(255, 255, 255);
    --headerFont-color: rgb(75, 100, 111);
    --borderLeft-color: rgb(60, 141, 188);
    --subCell-color: rgb(44, 59, 65);
    --lable-color: rgb(26, 34, 38);
    --subCellFont-color: rgb(138, 164, 175);
    /* body配色方案 */
    --body-color: rgb(103, 105, 136);
    /* button配色方案 */
    --saveBtn-color: rgb(34, 45, 50);
    --saveBtnFont-color: rgb(184, 199, 206);
    --resetBtn-color:
}

button:hover {
    cursor: pointer;
}