@import './colorScheme.css';
.box {
    position: absolute;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.namebox {
    margin: 10px;
}

.savebtn,
.resetbtn {
    background-color: var(--saveBtn-color);
    color: var(--saveBtnFont-color);
}