@import './colorScheme.css';
.box {
    position: absolute;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.namebox {
    margin: 10px;
}

#name {
    outline: none;
    border-radius: 5px;
    border: 0px;
    /* background-color: rgb(red, green, blue); */
}

.btngroup {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.btngroup button {
    width: 20%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.btngroup button:hover {
    background-color: red;
    color: aliceblue;
}